<div class="backButtonContainer">
    <!-- <button class="backButton" (click)="goBackToPrevPage()">
        <i class="fa-solid fa-arrow-left"></i>
    </button> -->

</div>
<div class="userProfile d-flex align-items-center">
    <div *ngIf="userData" class="user me-1 fs-5 fw-bold">
        {{userData[0].name.slice(0,1)}}
    </div>

    <div *ngIf="!userData" class="user me-1 fs-5 fw-bold">
        G
    </div>


    <div class="userType" ngbDropdown>
        <div class="dropdown " ngbDropdownToggle>

            <button *ngIf="!userData" class="btn dropdown-toggle border" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hello, <b>Guest</b>
            </button>


            <button *ngIf="userData" class="btn" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{userData[0].name}}
            </button>


            <ul class="dropdown-menu" ngbDropdownMenu>
                <li><a class="dropdown-item" *ngIf="!userData" routerLink="/login">Login as Admin</a></li>
                <li><a class="dropdown-item" *ngIf="userData" routerLink="/admin-dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" *ngIf="userData" routerLink="/newtcode">Add new TCode</a></li>
                <li><a class="dropdown-item" *ngIf="userData" (click)="_make_LocalStorage_empty()"
                        routerLink="">Logout</a></li>

            </ul>
        </div>
    </div>
</div>






<h1 class="text-center text-uppercase fw-bold">Tool Drawing Summary</h1>
<div class="container mt-3">
    <div class="d-flex">
        <button class="btn btn-custom btn-info p-2 text-white m-2" routerLink="/admin-dashboard">Dashboard</button>
        <button class="btn btn-custom btn-primary p-2 text-white m-2 bg-blue" routerLink="/newtcode">Add New T Code</button>
        <button class="btn btn-custom btn-yellow p-2 text-white m-2" routerLink="/existingtcode">Existing T Code</button>
    </div>
</div>

<div class="container mt-3">
    <form action="">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4">
                <div class="mb-3">
                    <div class="dateRangePicker">
                        <label for="" class="form-label text-blue">Select Aggregate
                        </label>
                        <mat-form-field>
                            <mat-select  multiple (selectionChange)="GetSelectedDivision($event)">
                                <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name">
                                    <mat-option *ngFor="let pokemon of group.agg" [value]="pokemon.value">
                                        {{pokemon.viewValue}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mb-3">
                    <div class="dateRangePicker">
                        <label for="selectPlant" class="form-label text-blue">Status</label>
                        <mat-form-field class="w-100 ">
                            <mat-label class="text-black">Select Status</mat-label>
                            <mat-select [(value)]="status" (selectionChange)="getStatus($event)">
                                <mat-option *ngFor="let item of statusList" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mb-3">
                    <label for="selectAggregate" class="form-label text-blue">Filter By date</label>
                    <div class="dateRangePicker">
                        <mat-form-field>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate [formControl]="startDateControl" placeholder="Start date">
                                <input matEndDate [formControl]="endDateControl" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker (click)="getSelectedDates()"></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>



            <div class="col-md-2">
                <button (click)="toolRetrivalFilter()"
                    class="btn btn-info btn-lg px-5 text-uppercase py-2 fw-bold w-100">Search</button>
            </div>

        </div>

        <div class="resultContainer retrival_min_height">
            <div class="row">
                <div class="col-12">
                    <div *ngIf="_not_found" class="_no_data_errmsg">
                        No data found
                    </div>
                    <table *ngIf="_no_data" class="table table-bordered table-striped text-center ">
                        <thead class="bg-dark text-white text-center">
                            <tr>
                                <th class="text-blue">So.no</th>
                                <th>Aggregate</th>
                                <th>T-Code</th>
                                <th>Tool Description</th>
                                <th>.PDF</th>
                                <th>.DRW</th>
                                <th>3D</th>
                                <th>Tool Photo</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of all_data_fst_t;let i = index">
                            <tr>
                                <td rowspan="5" [ngClass]="{'_Inactive_tr_bg':data.active==0}" vAlign="middle"
                                    class="fw-bold">
                                    {{(((currentPageIndex - 1) * pageSize) + (i+1))}}
                                </td>
                                <td vAlign="middle" class="fw-bold" style="width: 250px;"
                                    [ngClass]="{'_Inactive_tr_bg':data.active==0}">
                                    {{data.ekl_division}}</td>
                                <td vAlign="middle" class="fw-bold" [ngClass]="{'_Inactive_tr_bg':data.active==0}">
                                    {{data.item_code}}</td>
                                <td vAlign="middle" style="width: 300px;" [ngClass]="{'_Inactive_tr_bg':data.active==0}"
                                    class="fw-bold">{{data.item_description}}
                                </td>

                                <td vAlign="middle" [ngClass]="{'_Inactive_tr_bg':data.active==0}">

                                    <a href="{{HOST}}/api/tools/file/{{data.file_pdf}}" target="_blank">
                                        <i *ngIf="data.file_pdf > 0"
                                            class="fa-solid fa-circle-down  text-success h3 mb-0"
                                            (click)="callForPic(data.file_pdf,'pdf')">
                                        </i>
                                    </a>

                                    <i *ngIf="data.file_pdf == 0"
                                        class="fa-sharp fa-solid fa-circle-xmark text-danger h3 mb-0">
                                    </i>
                                </td>

                                <td vAlign="middle" [ngClass]="{'_Inactive_tr_bg':data.active==0}">

                                    <a href="{{HOST}}/api/tools/file/{{data.file_dwg}}">
                                        <i *ngIf="data.file_dwg > 0"
                                            class="fa-solid fa-circle-down  text-success h3 mb-0"
                                            (click)="callForPic(data.file_dwg,'dwg')">
                                        </i>
                                    </a>


                                    <i *ngIf="data.file_dwg == 0"
                                        class="fa-sharp fa-solid fa-circle-xmark text-danger h3 mb-0"></i>

                                </td>

                                <td vAlign="middle" [ngClass]="{'_Inactive_tr_bg':data.active==0}">
                                    <a href="{{HOST}}/api/tools/file/{{data.file_3d}}">
                                        <i *ngIf="data.file_3d > 0"
                                            class="fa-sharp fa-solid fa-circle-down  text-success h3 mb-0"
                                            (click)="callForPic(data.file_3d,'3d')"></i>
                                    </a>

                                    <i *ngIf="data.file_3d == 0" class="fa-solid fa-circle-xmark text-danger h3 mb-0">
                                    </i>
                                </td>


                                <td vAlign="middle" [ngClass]="{'_Inactive_tr_bg':data.active==0}">
                                    <a href="{{HOST}}/api/tools/file/{{data.file_photo}}">
                                        <i *ngIf="data.file_photo > 0"
                                            class="fa-solid fa-circle-down  text-success h3 mb-0"
                                            (click)="callForPic(data.file_photo,'photo')"></i>
                                    </a>

                                    <i *ngIf="data.file_photo == 0"
                                        class="fa-sharp fa-solid fa-circle-xmark text-danger h3 mb-0"></i>
                                </td>
                                <td vAlign="middle" [ngClass]="{'_Inactive_tr_bg':data.active==0}">
                                    <i class="fas fa-info-circle text-blue" (click)="_disp_summar_info(data)"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>


        <div class="position-relative d-flex align-content-center align-items-center">
            <button  *ngIf="_no_data"  (click)="exportToPdf()"  mat-raised-button class="position-absolute z-3  text-white text-dark p-2 m-2">
              export to excel
            </button>

            <mat-paginator class=" position-absolute w-100" *ngIf="_no_data" [length]="totalItems"
                (page)="onPageChange($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page">
            </mat-paginator>
        </div>


        <!-- <div class="row justify-content-center mt-5">
            <div class="col-md-2">
                <button (click)="toolRetrivalFilter()"
                    class="btn btn-info btn-lg px-5 text-uppercase py-2 fw-bold w-100">Search</button>
            </div>
        </div> -->

        <div class="row mt-5 px-5">
            <div class="col-md-4 text-center justify-content-between mx-auto d-flex">
                <!-- <button class="btn btn-success text-white btn-lg px-5 text-uppercase py-2 fw-bold">
                    Download
                </button> -->

                <!-- <button class="btn btn-danger btn-lg px-5 text-uppercase py-2 fw-bold">
                    Exit
                </button> -->
            </div>
        </div>
    </form>


</div>